<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billy.cc.core.ipc">

    <application >

        <provider
            android:authorities="${applicationId}.provider"
            android:name=".IPCProvider"
            android:exported="true" />
    </application>
</manifest>
